<h1>Listing tasks</h1>

<table>
  <tr>
    <th>Incomplete</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<div id="incomplete_tasks">
  <%= render @incomplete_tasks %>
</div>

<table>
  <tr>
    <th>Complete</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<div id="complete_tasks">
  <%= render @complete_tasks %>
</div>


<br />

<%= link_to 'New Task', new_task_path, remote: true, id: "new_link" %>
