<h1>Listing tasks</h1>

<table>
  <tr>
    <th>Incomplete</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%= render @incomplete_tasks %>
</table>

<table>
  <tr>
    <th>Complete</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<%= render @complete_tasks %>
</table>

<br />

<%= link_to 'New Task', new_task_path %>
